<ul>
  {{random.a.landmark}}
  {{#each landmark}}
    <li>
      <p>Landmark: {{landmark}}</p>
      <p>Reviewst: {{review}}</p>
      <p>rating: {{rating}}</p>
      <p>author: {{author}}</p>
      <p>body: {{body}}</p>
    </li>
  {{/each}}
</ul>
